/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$agenda-name: 'agenda';
$agenda-x: 106px;
$agenda-y: 0px;
$agenda-offset-x: -106px;
$agenda-offset-y: 0px;
$agenda-width: 49px;
$agenda-height: 64px;
$agenda-total-width: 155px;
$agenda-total-height: 140px;
$agenda-image: '../images/sprite.png';
$agenda: (106px, 0px, -106px, 0px, 49px, 64px, 155px, 140px, '../images/sprite.png', 'agenda', );
$bell-name: 'bell';
$bell-x: 48px;
$bell-y: 69px;
$bell-offset-x: -48px;
$bell-offset-y: -69px;
$bell-width: 26px;
$bell-height: 28px;
$bell-total-width: 155px;
$bell-total-height: 140px;
$bell-image: '../images/sprite.png';
$bell: (48px, 69px, -48px, -69px, 26px, 28px, 155px, 140px, '../images/sprite.png', 'bell', );
$download-name: 'download';
$download-x: 101px;
$download-y: 69px;
$download-offset-x: -101px;
$download-offset-y: -69px;
$download-width: 16px;
$download-height: 14px;
$download-total-width: 155px;
$download-total-height: 140px;
$download-image: '../images/sprite.png';
$download: (101px, 69px, -101px, -69px, 16px, 14px, 155px, 140px, '../images/sprite.png', 'download', );
$event-name: 'event';
$event-x: 0px;
$event-y: 0px;
$event-offset-x: 0px;
$event-offset-y: 0px;
$event-width: 53px;
$event-height: 69px;
$event-total-width: 155px;
$event-total-height: 140px;
$event-image: '../images/sprite.png';
$event: (0px, 0px, 0px, 0px, 53px, 69px, 155px, 140px, '../images/sprite.png', 'event', );
$linkedin-name: 'linkedin';
$linkedin-x: 0px;
$linkedin-y: 117px;
$linkedin-offset-x: 0px;
$linkedin-offset-y: -117px;
$linkedin-width: 23px;
$linkedin-height: 23px;
$linkedin-total-width: 155px;
$linkedin-total-height: 140px;
$linkedin-image: '../images/sprite.png';
$linkedin: (0px, 117px, 0px, -117px, 23px, 23px, 155px, 140px, '../images/sprite.png', 'linkedin', );
$presentation-name: 'presentation';
$presentation-x: 0px;
$presentation-y: 69px;
$presentation-offset-x: 0px;
$presentation-offset-y: -69px;
$presentation-width: 48px;
$presentation-height: 48px;
$presentation-total-width: 155px;
$presentation-total-height: 140px;
$presentation-image: '../images/sprite.png';
$presentation: (0px, 69px, 0px, -69px, 48px, 48px, 155px, 140px, '../images/sprite.png', 'presentation', );
$twitter-name: 'twitter';
$twitter-x: 74px;
$twitter-y: 69px;
$twitter-offset-x: -74px;
$twitter-offset-y: -69px;
$twitter-width: 27px;
$twitter-height: 22px;
$twitter-total-width: 155px;
$twitter-total-height: 140px;
$twitter-image: '../images/sprite.png';
$twitter: (74px, 69px, -74px, -69px, 27px, 22px, 155px, 140px, '../images/sprite.png', 'twitter', );
$venue-name: 'venue';
$venue-x: 53px;
$venue-y: 0px;
$venue-offset-x: -53px;
$venue-offset-y: 0px;
$venue-width: 53px;
$venue-height: 69px;
$venue-total-width: 155px;
$venue-total-height: 140px;
$venue-image: '../images/sprite.png';
$venue: (53px, 0px, -53px, 0px, 53px, 69px, 155px, 140px, '../images/sprite.png', 'venue', );
$spritesheet-width: 155px;
$spritesheet-height: 140px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($agenda, $bell, $download, $event, $linkedin, $presentation, $twitter, $venue, );
$spritesheet: (155px, 140px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
