/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$agenda-name: 'agenda';
$agenda-x: 53px;
$agenda-y: 0px;
$agenda-offset-x: -53px;
$agenda-offset-y: 0px;
$agenda-width: 49px;
$agenda-height: 64px;
$agenda-total-width: 102px;
$agenda-total-height: 97px;
$agenda-image: '../images/sprite.png';
$agenda: (53px, 0px, -53px, 0px, 49px, 64px, 102px, 97px, '../images/sprite.png', 'agenda', );
$bell-name: 'bell';
$bell-x: 0px;
$bell-y: 69px;
$bell-offset-x: 0px;
$bell-offset-y: -69px;
$bell-width: 26px;
$bell-height: 28px;
$bell-total-width: 102px;
$bell-total-height: 97px;
$bell-image: '../images/sprite.png';
$bell: (0px, 69px, 0px, -69px, 26px, 28px, 102px, 97px, '../images/sprite.png', 'bell', );
$event-name: 'event';
$event-x: 0px;
$event-y: 0px;
$event-offset-x: 0px;
$event-offset-y: 0px;
$event-width: 53px;
$event-height: 69px;
$event-total-width: 102px;
$event-total-height: 97px;
$event-image: '../images/sprite.png';
$event: (0px, 0px, 0px, 0px, 53px, 69px, 102px, 97px, '../images/sprite.png', 'event', );
$spritesheet-width: 102px;
$spritesheet-height: 97px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($agenda, $bell, $event, );
$spritesheet: (102px, 97px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
