$breakpoints: (
  'xs-phone': 320px,
  'phone': 481px,
  'tablet': 768px,
  'desktop': 1025px,
  'widescreen': 1282px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

html, body{
	height: 100%;
}
body{
	display: table;
	width: 100%;
	background: url("../images/body-bg.jpg") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.full-height-wrapper{
	display: table-row;
	height: 100%;
}
.container-wide{
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;
}
.container-short{
	max-width: 720px;
	padding: 0 10px;
	margin: 0 auto;
}
// ligatured operators ≥ ≤
@import 'vendors/include-media';
@import 'vendors/normalize';
@import "fonts";
@import "sprites";
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import "parts/header";
@import "parts/footer";
@import "parts/message";
@import "parts/dashboard";

@include media('<=tablet'){
	body{
		overflow: auto;
	}
}
@include media('<=phone'){
	body{
		background-size: auto;
		background-repeat: repeat;
	}
}