.site-footer{
	display: table-row;
	height: 1px;
	background: #000;
	background: rgba(0,0,0,.65);
}
.footer-menu{
	@extend %listreset;
	padding: 13px 0;
	li{
		float: left;
		margin-right: 30px;
	}
	a{
		color: #fff;
		text-decoration: none;
		font-family: $light-font;
		font-size: 14px;
		&:hover{
			text-decoration: underline;
		}
	}
}
