.site{
	&-header{
		background: #000;
		background: rgba(0,0,0,.65);
		min-height: 166px;
	}
	&-logo{
		float: right;
		position: relative;
		margin: 31px 12px 0 0;
		&:before{
			content: '';
			position: absolute;
			background: #2f2530;
			width: 1px;
			height: 81px;
			top: 17px;
			left: -53px;
		}
	}
	&-event{
		font-size: 16px;
		color: #fd7f66;
		margin-right: 170px;
		&-name{
			font-weight: normal;
			font-size: 46px;
			line-height: 50px;
			padding: 20px 0 0;
			margin-bottom:-3px;
		}
	}
	&-menu{
		margin: 31px 170px 0 0;
		a{
			color: #fff;
			font-family: $light-font;
			font-size: 19px;
			display: inline-block;
			border-radius: 5px;
			line-height: 30px;
			padding: 0 10px 2px;
			text-decoration: none;
			margin-right: 8px;
			background: transparent;
			transition: all 0.3s linear;
			&.active, &:hover{
				background: #2a82b9;
			}
		}
	}
	@include media('<=tablet'){
		&-header{
			min-height: 0;
			border-bottom: 1px solid transparent;
		}
		&-logo{
			float: none;
			display: inline-block;
			margin-top: 17px;
			width: 70px;
		}
		&-event{
			margin-right: 0;
			float: right;
			font-size: 14px;
			&-name{
				font-size: 30px;
				line-height: 36px;
			}
		}
		&-menu{
			margin-top: 10px;
			text-align: center;
			margin-right: 0;
			a{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	@include media('<=phone'){
		&-menu{
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			transition: max-height 0.3s linear, opacity 0.5s linear;
			margin: 0;
			a{
				display: block;
				margin: 0;
				&:hover, &:active{
					background: transparent;
				}
				&.active{
					background: #2a82b9;
				}
			}
			&.opened{
				max-height: 500px;
				opacity: 1;
			}
		}
	}
	@media (max-height: 500px){
		&-menu{
			padding-bottom: 10px;
		}
	}
}
@include media('<=phone'){
	.menu-opener{
		text-align: center;
		color: #ffffff;
		margin-bottom: 10px;
	}
}
@include media('>phone'){
	.menu-opener{
		display: none;
	}
}