.session {
	position: relative;
	background: #ca4f30;
	margin: 68px 0;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 434px;
		background: #ffffff;
		z-index: 0;
	}
	&-left-part {
		float: left;
		width: 434px;
		position: relative;
		z-index: 1;
	}
	&-right-part {
		margin-left: 434px;
	}
	&-banner-wrapper {
		padding: 93px 19px;
	}
	&-details {
		padding: 20px 33px 23px;
		h1 {
			color: #ca4f30;
			font-family: $light-font;
			font-size: 27px;
			line-height: 32px;
            font-weight: normal;
		}
		h2 {
			margin: 39px 0 2px;
			font-size: 22px;
			line-height: 32px;
			font-weight: normal;
		}
		&-time {
			margin-top: 17px;
			color: #ca4f30;
		}
		p {
			line-height: 22px;
			margin: 20px 85px 56px 0;
		}
		&-item {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				height: 1px;
				left: 36px;
				bottom: 12px;
				right: 122px;
				background: #ca4f30;
			}
		}
	}
	&-presentation {
		font-family: $light-font;
		h2{
			color: #e8b8ac;
			font-size: 27px;
			line-height: 30px;
			font-weight: normal;
			font-family: $light-font;
			padding:21px 15px 28px;
		}
		&-table{
			max-width: 412px;
			margin: 0 auto;
			position: relative;
			right: -2px;
		}
		&-th {
			color: #ffffff;
			background: #3c3e40;
			font-size: 30px;
			line-height: 36px;
			padding: 3px 15px 7px;
		}
		&-td {
			position: relative;
			background: #fff;
			padding: 0 45px 7px 85px;
			border-top: 1px solid #d6dfe6;
			&:last-child{
				padding-bottom: 18px;
			}
		}
		&-name{
			color: #0c7787;
			font-size: 23px;
			margin-top: 6px;
		}
		&-updated{
			color: #717171;
			font-size: 13px;
			margin-top: -2px;
		}
		.icon-presentation {
			position: absolute;
			@include sprite($presentation);
			top: 8px;
			left: 17px;
		}
		.icon-download{
			position: absolute;
			@include sprite($download);
			right: 23px;
			top: 25px;
		}
	}
	@include media('<=desktop'){
		margin-left: 20px;
		margin-right: 20px;
		&:before {
			width: 47%;
		}
		&-left-part {
			width: 47%;
		}
		&-right-part {
			margin-left: 47%;
		}
	}
	@include media('<=tablet'){
		margin: 30px 20px;
		&:before {
			display: none;
		}
		&-left-part,
		&-right-part{
			float: none;
		}
		&-left-part {
			width: auto;
			background: #fff;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
		}
		&-right-part {
			margin-left: 0;
		}
		&-banner-wrapper{
			padding: 30px 15px;
			img{
				display: block;
				margin: 0 auto;
			}
		}
		&-details{
            padding-right: 15px;
            padding-left: 15px;
			h2{
				margin-top: 20px;
			}
			p{
				margin: 20px 0 24px 0;
			}
            &-item{
              &:after{
                left: 15px;
                right: 10px;
              }
            }
		}
        &-presentation{
            h2{
              margin-bottom: 0;
              padding: 15px 15px;
            }
            &-table{
              max-width: none;
              right: 0;
              margin: 0 15px 15px;
            }
        }
	}
}