.tabset {
	list-style: none;
	margin: 46px 0 0 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 23px;
		a {
			font-family: $light-font;
			font-size: 19px;
			color: #ffffff;
			text-decoration: none;
			display: block;
			border-radius: 3px;
			padding: 3px 22px 7px;
			line-height: 20px;
            text-transform: capitalize;
		}
	}
	&-session {
		a {
			background: #a84228;
			&.active,
			&:hover{
				background: #ca4f30;
			}
		}
	}
	&-venues{
		li{
			margin-right: 15px;
		}
		a{
			background: #781d3d;
			&.active,
			&:hover{
				background: #ab2956;
			}
		}
	}
    @include media('<=desktop'){
      margin: 30px 20px 0;
    }
    @include media('<=650px'){
      margin-top: 0;
      display: none;
      li{
        margin: 0;
        display: block;
        a{
          border-radius: 0;
        }
      }
    }
    @include media('>650px'){
      display: block!important;
    }
}

.tab-content {
	margin-top: 12px;
	.session,
	.venues {
		margin-top: 0;
	}
	.session-details {
		padding-top: 2px;
		padding-bottom: 12px;
		h1 {
			margin-bottom: 5px;
			a {
				color: #ca4f30;
				text-decoration: none;
			}
		}
		p {
			margin-right: 50px;
			margin-bottom: 21px;
            @include media('<=tablet'){
              margin-right: 0;
            }
		}
	}
}

.open-tabset{
  color: #ffffff;
  font-size: 19px;
  left: 20px;
  .tabset-name{
    margin: 30px 20px 0;
    position: relative;
    padding: 3px 0 7px 22px;
    &:after{
      content: '>';
      position: absolute;
      right: 5px;
      top: 5px;
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    @include media('>650px'){
      display: none;
    }
  }
  &.tabset-venues{
    .tabset-name{
      background: #781d3d;
    }
  }
  &.tabset-session{
    .tabset-name{
      background: #a84228;
    }
  }
}
